<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Uber-Admin Creation Notification</h1>
    <p>
      Hi Manhattan,<br/>
    </p>
    <p>
      You are informed that a new Uber-Admin has been created.
    </p>
    <p>Uber-Admin : <%= @new_uberadmin.email %></p>
  </body>
</html>